# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib


| Data Science Tools |
| ----------------- |
|Jupyter Lab|
|RStudio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [20]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [29]:
#This will convert 200 minutes to hours by diving by 60
no_of_hours = 200/60
print(no_of_hours,"hours")

3.3333333333333335 hours

**Objectives**

* List popular languages for Data Science
* Explore common Data Science libraries and frameworks
* Demonstrate basic arithmetic operations in Python

## Author
Vipulav Batra